{:deps {org.clojure/clojure         {:mvn/version "1.11.1"}
        org.clojure/tools.cli       {:mvn/version "1.0.206"}
        http-kit/http-kit           {:mvn/version "2.6.0"}
        com.fluree/crypto           {:mvn/version "0.3.9"}
        cheshire/cheshire           {:mvn/version "5.11.0"}
        marker/marker               {:mvn/version "1.0.1"}
        cap10morgan/parse-date-time {:git/url "https://github.com/cap10morgan/parse-date-time"
                                     :sha     "c9dc90d840d46e43bc5038d885a67d8732a65e78"}}
 :aliases
 {:build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.8.3" :git/sha "7ac1f8d"
                 :deps/root "slim"}}
   :ns-default build}
  :native-image
  {:main-opts ["-m" "clj.native-image" "flurl.core"
               "-H:Name=flurl"
               "--initialize-at-build-time"
               "--initialize-at-run-time=org.httpkit.client.ClientSslEngineFactory$SSLHolder"
               "--report-unsupported-elements-at-runtime"
               "--no-fallback"
               "--enable-url-protocols=http,https"]
   :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {clj.native-image/clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha     "4604ae76855e09cdabc0a2ecc5a7de2cc5b775d6"}}}}}
